// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  > header {
    display: none;
  }
  > nav {
    text-align: center;
    background: $nav-bg $noise-bg;
  }
  hgroup {
    //font-size: 1.5em;
  }
}
.main-navigation {
  float: right;
  margin-right: 0.6em;
}